.ui-container {
	margin-inline: auto;
	max-width: 1440px;
	padding-inline: fluid($gutter * 4, $gutter * 5, $laptop, $laptop-xxl);
	width: 100%;

	&--clear {
		padding-inline: 0;
	}

	&--fluid  {
		max-width: none;
	}
}
