.ui-link {
	--link-gap: #{$gutter * 3};

	// Typography
	--link-font-family: var(--primary-font);
	--link-font-size: #{$font-size-s};
	--link-line-height: 1;
	--link-font-weight: #{$font-weight-medium};
	--link-text-transform: none;

	// Color
	--link-color: var(--black-50);
	--link-color-hover: var(--primary-50);
	--link-color-focus: var(--primary-50);

	// TODO: Активный цвет для ссылок
	--link-color-active: var(--primary-50);

	// TODO: Заблокированный цвет для ссылок
	--link-color-disabled: var(--primary-10);

	// Border
	--link-underline-thickness: 2px;
	--link-underline-offset: #{$gutter};
	--link-underline-color: var(--link-color);

	align-items: center;
	border-radius: 100px;
	color: var(--link-color);
	display: inline-flex;
	font-family: var(--link-font-family);
	font-size: var(--link-font-size);
	font-weight: var(--link-font-weight);
	gap: var(--link-gap);
	line-height: var(--link-line-height);
	text-decoration: none;
	text-decoration-color: currentcolor;
	text-decoration-thickness: var(--link-underline-thickness);
	text-transform: var(--link-text-transform);
	text-underline-offset: var(--link-underline-offset);
	transition: color .2s ease;

	&:focus-visible {
		outline: var(--link-underline-thickness) solid currentcolor;
		outline-offset: var(--link-underline-offset);
	}

	@include hover {
		--link-color: var(--link-color-hover);
	}

	&:active {
		--link-color: var(--link-color-active);
	}

	&[aria-disabled='true'],
	&:not([href]),
	&--disabled {
		--link-color: var(--link-color-disabled);

		cursor: default;
		pointer-events: none;
		text-decoration: none;

		&:focus-visible {
			outline: none;
		}
	}

	&__icon {
		color: currentcolor;
		display: inline-flex;
		flex-shrink: 0;
	}

	&--theme {
		&-white {
			--link-color: var(--white-10);

			// TODO: Ховер, активный цвет для белых ссылок
			--link-color-hover: var(--primary-10);
			--link-color-focus: var(--primary-10);
			--link-color-active: var(--primary-10);

			// TODO: Заблокированный цвет для белых ссылок
			--link-color-disabled: var(--gray-30);
		}
	}
}
