@use 'sass:map';
@use 'sass:selector';

@mixin media-min($breakpoint) {
	$value: map.get($breakpoints, $breakpoint);

	@media (min-width: $value) {
		@content;
	}
}

@mixin media-max($breakpoint) {
	$value: map.get($breakpoints, $breakpoint);

	@media (max-width: $value) {
		@content;
	}
}

@mixin media-between($from, $to) {
	$min: map.get($breakpoints, $from);
	$max: map.get($breakpoints, $to);

	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}

@mixin hover($sel: &) {
	@media (hover: hover) and (pointer: fine) {
		@at-root #{selector.append($sel, ':hover')} {
			@content;
		}
	}
}

