// BREAKPOINTS
$breakpoints: (
	mobile: 375px,
	tablet: 768px,
	laptop: 1024px,
	laptop-xl: 1280px,
	laptop-xxl: 1440px,
	pc: 1920px,
);

// FONT BASIS
$font-size-base: 16px;
$line-height-base: 1.4;

// FONT SIZES
$font-size-xs: $font-size-base * 0.875; // 14px
$font-size-s: $font-size-base; // 16px
$font-size-m: $font-size-base * 1.125; // 18px
$font-size-l: $font-size-base * 1.25; // 20px
$font-size-xl: $font-size-base * 1.5; // 24px
$font-size-2xl: $font-size-base * 2; // 32px
$font-size-3xl: $font-size-base * 2.5; // 40px
$font-size-title: $font-size-base * 3.5; // 56px

// FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

// GUTTER
$gutter: 4px;

// Z-INDEX
$z-base: 1;
$z-header: 100;
$z-overlay: 1000;
$z-modal: 1100;

// BORDER RADIUS
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
