*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

/* типовые обнуления блоков */
p, dl, dd, figure, blockquote { margin: 0; }
ul, ol { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; font: inherit; }

/* таблицы */
table { border-collapse: collapse; border-spacing: 0; }
th { text-align: inherit; font-weight: inherit; }

/* медиа */
img, video, canvas { display: block; max-width: 100%; height: auto; }
svg { display: block; max-width: 100%; height: auto; fill: currentColor; }

/* формы */
button, input, select, textarea, optgroup {
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
}

/* курсор на кликабельных кнопках */
button, [type='button'], [type='reset'], [type='submit'] { cursor: pointer; }

/* search, number */
[type='search'] { -webkit-appearance: textfield; outline: none; }
[type='number'] { -moz-appearance: textfield; }

fieldset, legend { margin: 0; padding: 0; border: 0; }

/* ссылки */
a { color: inherit; text-decoration: none; }

/* скрытые элементы */
[hidden] { display: none !important; }

/* абзацы кода */
pre, code, kbd, samp { font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace; font-size: 1em; }
