:root {
	// COLORS
	--primary-10: hsl(240deg 100% 86% / 1);
	--primary-50: hsl(240deg 41% 48% / 1);
	--primary-60: hsl(240deg 22% 17% / 1);
	--black-50: hsl(240deg 35% 8% / 1);
	--white-10: hsl(240deg 100% 100% / 1);
	--white-trans-20: hsl(240deg 100% 100% / .2);
	--white-trans-40: hsl(240deg 100% 100% / .4);
	--white-trans-80: hsl(240deg 100% 100% / .8);
	--gray-10: hsl(240deg 12% 95% / 1);
	--gray-20: hsl(250deg 12% 92% / 1);
	--gray-30: hsl(250deg 8% 84% / 1);
	--gray-90: hsl(0deg 0% 14% / 1);

	// FONTS
	--primary-font: 'Nunito Sans';

	// APP SIZE
	--app-height: 100dvh;
}
