.brand-card {
	align-items: flex-start;
	display: flex;
	gap: $gutter * 18;

	&__logo {
		align-items: center;
		aspect-ratio: 23 / 20;
		background-color: var(--gray-10);
		border-radius: $radius-xlg;
		display: flex;
		flex: 0 1 276px;
		justify-content: center;
		padding: $gutter * 6;
	}

	&__img {
		height: 100%;
		object-fit: contain;
		width: 100%;
	}

	&__content {
		flex: 1 1 60%;
	}

	&__title {
		margin-bottom: $gutter * 5;
	}

	&__description {
		white-space: pre-line;

		&:not(:last-child) {
			margin-bottom: $gutter * 6;
		}
	}
}
