.callback-section {
	background-color: var(--primary-10);
	border-radius: $radius-xl;
	color: var(--primary-60);
	display: grid;
	gap: $gutter * 8 $gutter * 3;
	grid-template-columns: repeat(10, 1fr);
	margin: 0 auto;
	max-width: 1164px;
	min-height: 480px;
	padding: $gutter * 10;
	padding-top: $gutter * 9;

	&__description,
	&__contact{
		grid-column: span 6;
	}

	&__form {
		grid-column: span 4;
		grid-row: span 2;
	}

	&__contact, &__form {
		align-self: flex-end;
	}

	&__description {
		max-width: 525px;
	}

	&__text {
		margin-top: $gutter * 4;
		max-width: 340px;
	}

	&__contact {
		display: flex;
		flex-direction: column;
		gap: $gutter * 3;
	}
}
