.advantages-section {
	padding-inline: $gutter * 3;

	&__list {
		display: flex;
		gap: $gutter * 8;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex: 0 1 20%;
		flex-direction: column;
		gap: $gutter * 8;
		height: 100%;
		justify-content: space-between;
		min-height: 178px;

		&:not(:last-child) {
			border-right: 2px solid var(--gray-20);
			padding-right: $gutter * 8;
		}
	}

	&__caption {
		white-space: pre-line
	}

	&__icon {
		color: var(--gray-30);
	}
}
