.header {
	&__logo {
		flex-basis: 85px;

		@include media-max($laptop-xxl) {
			flex-basis: 70px;
		}
	}

	&__container {
		align-items: center;
		display: flex;
		gap: $gutter * 10;
		padding-block: fluid($gutter * 4, $gutter * 5, $laptop, $laptop-xxl);
	}

	&__navigation {
		margin-right: auto;
	}

	&__contacts,
	&__logo,
	&__callback {
		flex-shrink: 0;
	}
}
