.ui-dropdown {
	display: inline-block;
	position: relative;

	&__body {
		background: var(--white-10);
		border: 1px solid var(--gray-10);
		border-radius: 12px;
		box-shadow: 0 10px 30px rgb(0 0 0 / .08);
		display: flex;
		flex-direction: column;
		gap: $gutter * 3;
		inset-block-start: calc(100% + $gutter * 2);
		min-inline-size: 200px;
		padding: $gutter * 4;
		position: absolute;
		z-index: $z-overlay;

		&--left-side {
			inset-inline-start: 0;
		}

		&--right-side {
			inset-inline-end: 0;
		}
	}


	&-fade-enter-active,
	&-fade-leave-active {
		transition: opacity .2s ease, transform .2s ease;
	}

	&-fade-enter-from,
	&-fade-leave-to {
		opacity: 0;
		transform: translateY(-4px);
	}
}
